/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

  
body {
  font-family: "Montserrat", sans-serif;
  padding: 36px;
  }

  .container {

  }

.form {
max-width: 372px;
}
