/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

  
body {
  font-family: "Montserrat", sans-serif;
  padding: 36px;
  }

  .container {

  }

.form {
max-width: 372px;
margin-bottom: 40px;
/* position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}